<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>


<form action="\" method="POST">
    <div>
        <input name="name" type="text" placeholder="name">
        <input name="year" type="number" placeholder="year">
        <input type="submit">
    </div>
</form>
<br>

    <h3> DB info </h3>
<table>

    <tbody>
    {% for key in dbinfo %}
        <tr>
            {% for col in key %}
                <th scope="col">{{key[col]}}</th>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>

</body>
</html>